<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

<!--导入mapper文件，可以直接获取service.xml-->
    <import resource="applicationContext_mapper.xml"></import>
    <context:component-scan base-package="com.bjpowernode.service.impl"></context:component-scan>
<!--    事务处理-->
<!--    1.添加事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
<!--        事务必须关联数据库处理，所以要配置数据源-->
        <property name="dataSource" ref="dataSource"></property>
    </bean>
<!--    2.添加事务的驱动-->
    <tx:annotation-driven transaction-manager="transactionManager" ></tx:annotation-driven>
</beans>